.footer {
    width: 100%;
    height: 80px;
    background-color: $gray_dark;
    @include laptopM {
        height: 69px;
    }
    @include laptopS {
        height: 65px;
    }
    @include tablet {
        height: 70px;
    }
    @include mobileL {
        height: 65px;
    }
}